.youtube {
  background-color: red;
  color: white;
  border-color: red;
}

.white {
  background-color: white;
  color: rgb(24, 190, 255);
  border-color:rgb(24, 190, 255);
}

.twitter {
  background-color: rgb(24, 190, 255);
  color: white;
  border-color: rgb(24, 190, 255);
  border-radius: 20px;
}